<div class="container">
	<h1 class="card card-body text-center text-danger mt-2">Update Student.</h1>
	<%= form_with model: @bca do |f|%>
	<div class="row">
		<div class="form-group m-2 col-lg-5">
			<%= f.label "first_name",class:"mb-2"%>
			<%= f.text_field :first_name ,class: "form-control form-control-lg"%>
		</div>
		<div class="form-group m-2 col-lg-5">
			<%= f.label "last_name",class:"mb-2"%>
			<%= f.text_field :last_name ,class: "form-control form-control-lg"%>
		</div>
	</div>
	<div class="row">
		<div class="form-group m-2 col-lg-4">
			<%= f.label "email",class:"mb-2"%>
			<%= f.text_field :email ,class: "form-control form-control-lg"%>
		</div>
		<div class="form-group m-2 col-lg-2">
			<%= f.label "year",class:"mb-2"%>
			<%= f.text_field :year ,class: "form-control form-control-lg"%>
		</div>
		<div class="form-group m-2 col-lg-4">
			<%= f.label "number",class:"mb-2"%>
			<%= f.text_field :number ,class: "form-control form-control-lg"%>
		</div>
	</div>
		<div class="form-group">
			<%= f.submit class: "btn btn-lg btn-primary m-4 "%>
			<%= link_to "back to students",bcas_path, class: "btn btn-lg btn-outline-primary"%>
			<%end%>
		</div>
</div>