<style type="text/css">
  *{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
/*
body{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background: #000;
}
*/
section{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100vh;
    background: url('/assets/img1.jpg');
    background-size: cover;
    background-position: center;
    animation: animateBg 5s linear infinite;
}

@keyframes animateBg{
    100%{
        filter: hue-rotate(360deg);
    }
}

.login-box{
    position: relative;
    width: 400px;
    height: 450px;
    background: transparent;
    border: 2px solid rgba(255, 255, 255, .5);
    border-radius: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    backdrop-filter: blur(15px);
}

h2{
    font-size: 2em;
    color: #fff;
    text-align: center;
}

.input-box{
    position: relative;
    width: 310px;
    margin: 30px 0;
    border-bottom: 2px solid #fff;
}

.input-box label{
    position:absolute;
    top:50%;
    left: 5px;
    transform: translateY(-50%);
    font-size: 1em;
    color: #fff;
    pointer-events: none;
    transition: .5s;
}

.input-box input:focus~label,
.input-box input:valid~label{
    top: -5px;

}

.input-box input{
    width: 100%;
    height: 50px;
    background: transparent;
    border: none;
    outline: none;
    font-size: 1em;
    color: #fff;
    padding: 0 35px 0 5px;
}

.input-box .icon{
    position: absolute;
    right: 8px;
    color: #fff;
    font-size: 1em;
    line-height: 57px;

}

.remember-forgot{
    margin: -15px 0 15px;
    font-size: -9em;
    color: #fff;
    display: flex;
    justify-content: space-between; 
}

.remember-forgot label input{
    margin-right: 3px;
}

.remember-forgot a{
    color: #fff;
    text-decoration: none;
}

.remember-forgot a:hover{
    text-decoration: underline;
}

.login{
    width: 100%;
    height: 40px;
    background-color: #fff;
    border: none;
    outline: none;
    border-radius: 40px;
    cursor: pointer;
    font-size: 1em;
    color: #000;
    font-weight: 500;
}

.register-link{
    font-size: .9em;
    color: #fff;
    text-align: center;
    margin: 25px 0 10px;
}

.register-link p a{
    color: #fff;
    text-decoration: none;
    font-weight: 600;
}

.register-link p a:hover{
    text-decoration: underline;
}

@media (max-width:360px){
    .login-box{
        width: 100%;
        height: 100vh;
        border: none;
        border-radius: 0;
    }
    .input-box{
        width: 290px;
    }
}
</style>
<section>
        <div class="login-box">
          <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
                <h2>Login</h2>
                
                <div class="input-box">
                    <span class="icon"><i class="fa fa-user"></i></span>
                    <%= f.email_field :email, autofocus: true, autocomplete: "email" %>
                    <%= f.label :email %>
                </div>
                <div class="input-box">
                    <span class="icon"><i class="fa fa-lock"></i></span>
                    <%= f.password_field :password, autocomplete: "current-password" %>
                    <%= f.label :password %>
                </div>
                <div class="remember-forgot">
                  <% if devise_mapping.rememberable? %>
                    <%= f.check_box :remember_me %>
                    <%= f.label :remember_me %>
                  <% end %>
                    <a href="#">Forgot Password?</a>
                </div>
                <%= f.submit "Login",class:"login" %>
                <div class="register-link">
                    <p>Don't have an account?<%= render "devise/shared/links" %></p>
                </div>
          <% end %>
        </div>
 </section>
